@import '../config';

.b-content
    columns ( 9 )

.b-content__h2    
    font-size: 42px
    line-height: 50px
    margin-top: 9px
    font-weight: bold
    color: #494949
.b-text .b-content__h4_color_bright
    color: #fe6915
