@import '../config';

.b-project-item
    width 220px
    margin-bottom: 20px   
    columns( 3 )
    height: 310px

.b-project-item__img
    height: 216px
    line-height: 216px
    overflow: hidden
    text-align: center
    position: relative
    cursor: pointer
.b-project-item__hover
    background: url(bg_opas_90.png) repeat 0 0 transparent
    padding: 20px 25px
    font-size: 15px
    bottom: 0
    cursor: pointer
    left: 0
    line-height: 1
    position: absolute
    right: 0
    text-align: left
    top: 0
    display: none
.b-project-item__img:hover .b-project-item__hover
    display: block
.b-project-item__autors    
    color: #fff
.b-project-item__autors-h7
    font-weight: bold
    margin-bottom: 5px
.b-project-item__info    
    position: absolute
    bottom: 25px

.b-project-item__like
    color: #90d301
    padding-left: 21px
    padding-top: 1px
    background: url(likehand.png) no-repeat 0 0
    padding-right: 10px
.b-project-item__saw
    color: #b2b2b2
    padding-left: 23px
    padding-top: 1px
    background: url(saweye.png) no-repeat 0 5px

 .b-project-item__h3
    font-size: 18px
    line-height: 20px
    margin-top: 10px
    max-height: 63px
    overflow: hidden
.b-project-item__h3-link    
    font-weight: bold
.b-project-item__h3-link:link
    color: #464646    
    text-decoration: none
.b-project-item__h3-link:visited
    color: #464646
.b-project-item__h3-link:hover
    color: #464646
    text-decoration: underline

.b-project-item__nomin
    font-size: 12px
    color: #262627
