@import '../config';

.b-breadcrumbs
    font-size: 12px
    line-height: 10px
    overflow: hidden
    margin-top: 25px
    margin-bottom: 16px

.b-breadcrumbs__item
    color: #454545
    float: left
    padding: 0 6px 2px 0

.b-breadcrumbs__item__link
    color: #2A2727
    margin: 0 3px 0 0

.b-breadcrumbs__item__link:link, .b-breadcrumbs__item__link:visited
    color: #2A2727

.b-breadcrumbs__item__link:link:hover, .b-breadcrumbs__item__link:link:active
    text-decoration: none
    color: #2A2727