@import '../config';

.b-header
    height: 63px
    background: url(bg.png)
    color: #fff
    line-height: 60px

.b-header__title
    columns( 2 )
    font-size 26px
    font-weight: bold
    height: 63px