@import '../config';

.b-header
    height: 63px
    background: url(bg.png)
    color: #fff
    line-height: 60px
.b-header__title
    columns( 2 )
    font-size 26px
    font-weight: bold
    height: 63px
.b-menu__title-link:link
.b-menu__title-link:active
.b-menu__title-link:hover
.b-menu__title-link:visited
    color: #fff
    text-decoration: none
    cursor: pointer