@import '../config';

.b-header
    background: #252630 url(bg.png)
    height: 63px
    color: #fff
    line-height: 60px
.b-header__title
    float: left
    width: 140px
    margin-right: 20px
    font-size 26px
    font-weight: bold
    height: 63px
    color: #fff
.b-menu__title-link:link
.b-menu__title-link:active
.b-menu__title-link:hover
.b-menu__title-link:visited
    color: #fff
    text-decoration: none
    cursor: pointer