@import '../config';

.b-bunner
    height: 350px
    background-color: #2fb9d2
    color: #fff
    border-top: solid 1px #6ecee0
.b-bunner__text    
    width: 400px
.b-bunner__h2 
    font-weight: bold
    font-size 50px
    line-height: 50px
    margin-top: 80px
.b-bunner__text
    font-size 18px