vendor = true

@import '../config';

.b-bunner
    height: 355px
    background-color: #2fb9d2
    color: #fff
    border-top: solid 1px #6ecee0
.b-bunner__text
    width: 400px
.b-bunner__h2 
    font-weight: bold
    font-size 50px
    line-height: 60px
    margin-top: 75px
.b-bunner__text
    margin-top: -8px
    font-size 18px
    line-height: 20px
.b-bunner__cup
    background: url(cup.png)
    width: 842px
    height: 393px
    position: absolute
    top: 0
    left: 258px
.b-bunner__button:link,
.b-bunner__button:hover,
.b-bunner__button:active,
.b-bunner__button:visited
    color: #fff
    text-decoration: none
    font-size: 18px
    font-weight: bold
    text-align: center
    line-height: 40px
    text-shadow: 0px 1px 1px #636363
    cursor: pointer
    padding-left: 18px
    padding-right: 18px
    display: inline-block
    margin-top: 27px
    height: 42px
    border-radius: 5px
    border: solid 1px #ea3c00
    text-shadow: 0px 1px 1px #636363v
    box-shadow: 0.5px 1px 2px #8b8b8b, inset 0px 1px #fed3a8, inset 0px 2px 4px #fd962f, inset 0px -2px 4px #ff6530
    background: #fc7f01;
    background: -moz-linear-gradient(top,  #fc7f01 0%, #fc7f01 0%, #ff4302 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc7f01), color-stop(0%,#fc7f01), color-stop(100%,#ff4302));
    background: -webkit-linear-gradient(top,  #fc7f01 0%,#fc7f01 0%,#ff4302 100%);
    background: -o-linear-gradient(top,  #fc7f01 0%,#fc7f01 0%,#ff4302 100%);
    background: -ms-linear-gradient(top,  #fc7f01 0%,#fc7f01 0%,#ff4302 100%);
    background: linear-gradient(to bottom,  #fc7f01 0%,#fc7f01 0%,#ff4302 100%);
    filter: ('progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7f01', endColorstr='#ff4302',GradientType=0 )'); if ie

/*
    box-shadow: 0.5px 1px 2px #8b8b8b, inset 0px 2px 4px #fd962f, inset 0px -2px 4px #ff6530, inset 0px 2px 10px #fcca00
    background: #fcca00;
    background: -moz-linear-gradient(top,  #fcca00 0%, #f77a00 15%, #f77a00 16%, #f46300 51%, #f35100 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcca00), color-stop(15%,#f77a00), color-stop(16%,#f77a00), color-stop(51%,#f46300), color-stop(100%,#f35100));
    background: -webkit-linear-gradient(top,  #fcca00 0%,#f77a00 15%,#f77a00 16%,#f46300 51%,#f35100 100%);
    background: -o-linear-gradient(top,  #fcca00 0%,#f77a00 15%,#f77a00 16%,#f46300 51%,#f35100 100%);
    background: -ms-linear-gradient(top,  #fcca00 0%,#f77a00 15%,#f77a00 16%,#f46300 51%,#f35100 100%);
    background: linear-gradient(to bottom,  #fcca00 0%,#f77a00 15%,#f77a00 16%,#f46300 51%,#f35100 100%);
    filter: ('progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcca00', endColorstr='#f35100',GradientType=0 );') if ie*/
.b-bunner__button:hover
    box-shadow: 0.5px 1px 2px #8b8b8b, /*inset 0px 2px 4px #fd962f, inset 0px -2px 4px #ff6530, inset 0px 2px 10px #fcca00, */inset 0px 1px 1px 0px #fff599, inset 0px -1px 1px 0px #ff6c0c
    background: #fb9b0b;
    background: -moz-linear-gradient(top,  #fb9b0b 0%, #ff4909 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb9b0b), color-stop(100%,#ff4909));
    background: -webkit-linear-gradient(top,  #fb9b0b 0%,#ff4909 100%);
    background: -o-linear-gradient(top,  #fb9b0b 0%,#ff4909 100%);
    background: -ms-linear-gradient(top,  #fb9b0b 0%,#ff4909 100%);
    background: linear-gradient(to bottom,  #fb9b0b 0%,#ff4909 100%);
    filter: ('progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9b0b', endColorstr='#ff4909',GradientType=0 );') if ie

