@import '../config';

.b-main__h2
    font-size: 32px
    line-height: 48px
    font-weight: bold
    margin: 15px 0 5px
.b-main__all-link
    font-size: 18px
    color: #fe6915
.b-main__all-link:hover
    text-decoration: none

.b-project 
    clearfix()