@import '../config';

.b-vote
    columns ( 3 )
    background: #f3f3f3
.b-vote__h5
    font-size: 15px    
    font-weight: bold
    color: #979797
    margin: 15px 0 10px
.b-vote-content
    margin: 20px 0 0 40px
.b-vote-number__bg
    height: 106px
    width: 84px
    background: #fff
    border: solid 1px #e2dfdf
    margin: 0 4px 0 0
    float:left
    font-size: 100px
    color: #494949
    text-align: center
    line-height: 100px
.b-vote__button
    margin: 20px 0
.b-vote__hr
    border-bottom: solid 1px #b5b5b5
.b-vote-user
    margin-bottom: 20px
    color: #1f1f1f
.b-vote-user__user    
    display: inline-block
    vertical-align: top
    max-height: 48px
    overflow: hidden
.b-vote-user__img
    margin-right: 15px
.b-vote-user__name,
.b-vote-user__surname
    color: #1f1f1f
    font-size: 15px
    font-weight: bold
    line-height: 15px
.b-vote-user__position
    font-size: 13px
    line-height: 13px