@import '../config';

.b-menu
    columns( 7 )

.b-menu__item
    float: left
    padding-right: 35px
    line-height: 60px
.b-menu__item:link
    color: #fff
    text-decoration: none
.b-menu__item:visited
    color: #fff
.b-menu__item:hover
    color: #fff
    text-decoration: underline