@import '../config';

.b-menu
    columns( 7 )

.b-menu__item
    padding-right: 35px
    line-height: 60px
.b-menu__item_dark
    line-height: 15px
    padding: 3px 15px
    background: #1e1f27
    border-radius: 5px
    margin-left: -15px
.b-menu__item:link
    color: #fff
    text-decoration: none
.b-menu__item:visited
    color: #fff
.b-menu__item:hover
    color: #fff
    text-decoration: underline
.b-menu__item_dark:link
.b-menu__item_dark:hover
.b-menu__item_dark:visited
.b-menu__item_dark:active
    color: #959595