@import '../config';

.b-footer
    height: 100px
    background: #ededed
    border-top: solid 1px #dedddd
    color: #706f73
    font-size: 13px
    padding-top: 30px

.b-footer-copy
    columns( 3 )
.b-footer-copy__logo
    display: block
    margin-top: 5px
.b-footer-menu
    columns( 9 )
    
.b-footer-menu__item
    padding-right: 33px 
.b-footer-menu__item:link
    color: #706f73
.b-footer-menu__item:visited
    color: #706f73    
.b-footer-menu__item:hover
    color: #706f73    
    text-decoration: none